In [ ]:
from google.colab import drive
import pandas as pd
import zipfile
import pickle

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
with zipfile.ZipFile("/content/drive/My Drive/MADE/chgk.zip", "r") as zip_ref:
    zip_ref.extractall()

In [ ]:
with open('players.pkl', 'rb') as f:
    players = pickle.load(f)
with open('results.pkl', 'rb') as f:
    results = pickle.load(f)
with open('tournaments.pkl', 'rb') as f:
    tournaments = pickle.load(f)

In [ ]:
with open('players.pkl', 'rb') as f:
    players = pickle.load(f)

In [ ]:
pd.json_normalize(results)

,1,2,3,4,5,6,7,8,9,10,...,6476,6477,6478,6479,6480,6481,6482,6483,6484,6485
0,"[{'team': {'id': 242, 'name': 'Команда Азимова...","[{'team': {'id': 312, 'name': 'Социал-демократ...","[{'team': {'id': 175, 'name': 'Транссфера', 't...","[{'team': {'id': 2205, 'name': 'ХИИТ - 2000', ...","[{'team': {'id': 1733, 'name': 'Суббота 13', '...","[{'team': {'id': 10404, 'name': 'Им. Лошади Пр...","[{'team': {'id': 441, 'name': 'Перамога', 'tow...","[{'team': {'id': 2, 'name': 'Афина', 'town': {...","[{'team': {'id': 26, 'name': 'ЛКИ', 'town': {'...","[{'team': {'id': 5, 'name': 'Команда Кузьмина'...",...,[],[],[],[],[],[],[],[],[],[]